/*
----------------------------------
------- Embed Font----------------
----------------------------------
*/

@import url("https://use.typekit.net/ghw3mij.css");
/*
----------------------------------
------- Universal Selector -------
----------------------------------
*/

#{
 box-sizing: border-box;
}

/*
----------------------------------
----------- Base Style -----------
----------------------------------
*/

body {
    font-family: 'futura-pt', helvetica, arial, sans-serif;
    font-size: 20px;
}

p {}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

img {
    display: block;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

/*
----------------------------------
------- Header -------------------
----------------------------------
*/

.main-header {
    padding-top: 28px;
}

.header-logo {
    width: 128px;
    margin: 0 auto;
}

.main-nav {
    text-align: center;
    border-bottom: 1px black solid;
    padding: 12px;
}

.nav-item {
    margin-bottom: 12px;
}

.main-nav-toggle {
    display: block;
    background: white;
    border: none;
    margin: 0 auto;
    padding: 12px;
}

/*
----------------------------------
------- Footer -------------------
----------------------------------
*/

.main-footer {
    background: black;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 12px;
}

/* Footer Logo */

.footer-logo {
    width: 128px;
    margin: 0 auto;
}

/* Media Icons */

.social-icn {
    margin-top: 35px;
}

.social-icn li {
    display: inline-block;
}

.social-icn img {
    width: 48px;
    margin: 0 6px;
}

/* Secondary Navigation */

.secondary-nav a {
    color: white;
}

/*
----------------------------------
------- Our Work -----------------
----------------------------------
*/
