/*
-------------------------------------
------- Type Kit --------------------
-------------------------------------
*/

@import url("https://use.typekit.net/ghw3mij.css");

/*
-------------------------------------
------- Universal Selector ----------
-------------------------------------
*/

* {
    box-sizing: border-box;
}

/*
-------------------------------------
------- Base Style ------------------
-------------------------------------
*/

body {
    font-family: "futura-pt","Helvetica","Arial",sans-serif;
    color: black;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {

}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

main {
    flex: 1;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

/*
-------------------------------------
------- Main Header -----------------
-------------------------------------
*/

.main-nav{
    display: flex;
    padding-top: 40px;
    align-items: center;
}

.logo {
    width: 128px;
    margin-left: 10px;
    margin-right: auto;
}

.main-nav ul {
    display: flex;
    margin-left: auto;
}

.main-nav li a {
    padding: 7px;
    margin: 0 17px;
}

.main-nav li a:hover {
    border-bottom: 3px solid black;
}

.main-nav li:last-child a{
    border: 3px solid black;
    margin-right: 10px;
}

.main-nav li:last-child a:hover {
    background: black;
    color: white;
}

/*
-------------------------------------
------- Main Footer -----------------
-------------------------------------
*/

.main-footer {
    background: black;
    height: 150px;
    align-self: ;
}

.main-footer .container {
    display: flex;
    align-items: center;
}

.social-icn ul {
    display: flex;
}

.social-icn li {
    margin: 25px;
}

.social-icn img {
    width: 48px;
}

.secondary-nav {
    margin-left: auto;
}

.secondary-nav ul {
    display: flex;
    margin-left: auto;
}

.secondary-nav a {
    padding: 7px;
    margin: 0 17px;
    color: white;
}

.secondary-nav a:last-child {
    margin-right: 0;
}

/*
-------------------------------------
------- Index Page ------------------
-------------------------------------
*/

#main-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0;
}

.gallery-item {
    width: 30%;
    padding: 10px;
}

.gallery-item:hover {
    opacity: .8;
}

.gallery-item p {
    text-align: center;
}
