/*
==========================================
======= Typekit Embed ====================
======= Normalize CSS ====================
==========================================
*/
@import url("https://use.typekit.net/ghw3mij.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");

/*
==========================================
======= Base Style =======================
==========================================
*/

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    color: black;
    font-family: 'futura-pt', Helvetica, Arial, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 1.8rem;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

/*
==========================================
======= Layout Style =====================
==========================================
*/

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.footer-main {
    background-color: black;
    margin-top: auto;
}

/*
==========================================
======= Header, Footer Style =============
==========================================
*/

.header-main .container,
.footer-main .container {
    flex-direction: column;
}

.logo-header,
.logo-footer {
    width: 128px;
    margin: 2.5rem auto;
}

.logo-header {
    margin-bottom: 0;
}

.btn-menu {
    margin: 2.5rem 0;
    border: none;
    background-color: rgba(225, 225, 225, 0);
}

.nav-social {
    margin: 0 auto;
}

.nav-social img {
    display: inline-block;
    width:48px;
    margin: 0 1rem;
}

.nav-header,
.nav-footer {
    display: flex;
    flex-direction: column;
}

.nav-header {
    margin-top: 2.5rem;
}

.nav-footer {
    margin: 2.5rem 0;
}

.nav-header a,
.nav-footer a {
    margin: 0.75rem 0;
    text-align: center;
}

.nav-footer a {
    color: white;
}

/*
==========================================
======= Homepage Style ===================
==========================================
*/


#gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    flex: 1 0 50%;
    padding: 0.5rem;
    padding-top: 0;
    text-align: center;
    transition: all 0.2s;
}

.gallery-item:hover {
    opacity: 0.8;
}

/*
==========================================
======= About Page Style =================
==========================================
*/

#about {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about-icon {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about-item {
    width: 168px;
    margin: 4rem auto;
}

.about-item:first-child {
    margin-top: 0;
}

.about-item p {
    margin-top: 1.25rem;
    text-align: center;
}

/*
==========================================
======= Contact Page Style  ==============
==========================================
*/

#contact {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-form label,
.contact-form input,
.contact-form textarea{
    display: block;
}

label {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

input,
textarea {
    width: 100%;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 5px;
}

textarea {
    height: 200px;
}

.btn-submit {
    width: 100%;
    padding: 1rem;
    margin: 2rem auto;
    margin-bottom: 4rem;
    border-radius: 10px;
    background-color: black;
    color: white;
}

/*
==========================================
======= Blog Page Style  =================
==========================================
*/

#blog {
    width: 100%;
    margin-bottom: 4rem;
}

.blog-item {
    width: 100%;
    margin-top: 2rem;
}

.blog-header {
    text-align: center;
}

.blog-header p {
    font-size: 0.8rem;
    color: #7E7E7E;
    margin-top: -0.5rem;
}

/*
==========================================
======= Project Page Style  ==============
==========================================
*/

#project {
    width: 100%;
    margin-bottom: 4rem;
}

/*
==========================================
======= Media Query ======================
==========================================
*/
