// Color Variables
$cape-cod: #3D3E3F;
$grey: #EFF0F1;
$white: #fff;

// Color Usage
$color-text-base: $cape-cod;
$color-text-light: lighten($cape-cod, 20%);

// Font Stack
$stack-primary: 'Helvetica', Arial, sans-serif;

// Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
