.main-body-main .brand {
  background-color: $grey;
}

.main-body-main .card {
  border-bottom: 1px solid $color-text-base;

  img{
    width: 100%;
  }

  p {
    color: $color-text-light;
  }
}

.main-body-main .card:not(:first-child) {
  padding-top: rem(30px);
}
