footer {
  background-color: $color-secondary;
}

footer .wrapper {
  padding: px-to-em(30);
}

.logo-footer {
  display: block;
  margin: 20px auto;
  fill: $white;
}

.nav-social {
  width: 60%;
  height: px-to-em(50);
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;

  svg {
    width: px-to-em(26);
    fill: $white;
  }

  a:hover {
    opacity: .7;
  }
}

footer {

  .contact-info {
    text-align: center;
    color: $white;
  }

  .copyright-info {
    span {
      display: block;
      padding: px-to-em(10);
      margin: 0;
      text-align: center;
      color: lighten($color-text--dark, 50%);
      background-color: $white;
    }
  }
}
