.nav-bar {
  padding: px-to-em(20) 0;
  background: $white;
}

.nav-bar .wrapper {
  align-items: center;
  justify-content: center;
}

.logo-header {
  display: block;
  fill: $color-primary;
}

.toggle-button {

  position: static;
  top: 0;
  left: 0;

  display: block;
  width: px-to-em(30);
  height: auto;

  margin: 0;
  padding: 0;
  margin-left: auto;

  .bar {
    background-color: $color-primary;
  }
}
