.nav-mobile img {
  width: rem(50px);
}

.main-body-main .about img {
  width: 100%;
}

.main-body-main .contact img {
  width: 100%;
}

.img-brand {
  width: 20%;
  margin: rem(10px);
}

.logo-footer img{
  width: rem(30px);
}
