body {
  @include flex($dir: column);
  min-height: 100vh;
}

.main-body-main {
  flex-grow: 1;
}

.container {
  @include centered(90%);
}

.nav-mobile {
  @include flex($align: center);

  img {
    margin-right: auto;
  }

  .btn-open-nav {
    margin-left: auto;
  }
}

.footer-main {
  text-align: center;
}

.brand {
  padding-top: rem(20px);
  padding-bottom: rem(20px);
  margin-top: rem(30px);
  margin-bottom: rem(30px);
  .logo-brand {
    @include flex($align: center, $just: center, $wrap: wrap);
  }
}
