.content-block {

    display: flex;
    align-items: center;
    justify-content: center;
    // padding-top: 20px;

}

main.homepage,
main.service {

  .content-block {
    align-items: flex-start;

    .wrapper-outer {
      display: flex;
      flex-direction: column;
    }

    .content-text {
      order: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .content-img {
      order: -1;
      background: red;
    }
  }
}

main.homepage {
  h3 {
    text-align: center;
    font-size: 2rem;
  }
  #homepage-mobile-1 {
    .content-text {height: 100vh}
  }
  #homepage-mobile-2 {
    .content-text {height: 100vh}
  }
}

main.service {

  .content-text {height: 30vh}
  .content-img {height: 70vh}

  #concept-design {
    .content-text {height: 40vh}
    .content-img {height: 60vh}
  }
  //
  // #structure-design {
  //   .content-text {height: 65vh}
  //   .content-img {height: 35vh}
  // }
  //
  // #construction-design {
  //   .content-text {height: 70vh}
  //   .content-img {height: 30vh}
  // }
  //
  // #value-engineer {
  //   .content-text {height: 85vh}
  //   .content-img {height: 15vh}
  // }
  //
  // #design-review {
  //   .content-text {height: 65vh}
  //   .content-img {height: 35vh}
  // }

}

main.service .text-desktop {
  display: none;
}

main.career {

  .content-text {
    text-align: center;

    .divider {
      border: 2px solid $color-accent;
      width: 10em;

      margin: px-to-em(30) auto;
    }
  }

  a {
    @include link;
  }

  .btn-career {
    @include btn($color-text--light, $color-primary);
    border: 2px solid $color-primary;
    transition: all .3s;

    &:hover {
      @include btn($color-text--dark, transparent);
    }
  }
}

@media(min-width: $breakpoint) {

  main.homepage h3 {
    font-size: 1.17rem;
  }

  main.homepage,
  main.service {

    .left {order: -1 !important;}

    .right {order: 1 !important;}

    .divider {
      margin: px-to-em(10) auto;
      width: 50%;
      border: 2px solid $color-accent;
    }

    .wrapper-outer {
      width: 80%;
      height: 80%;
      margin-top: px-to-em(72);
      max-width: $max-width;
      flex-direction: row !important;
    }

    .content {
      &-block {
        align-items: center;
      }
    }

  }

  main.homepage {
    .content {
      &-text {width:60%}
      &-img {width: 40%}
    }
  }

  main.service {
    .content {
      &-text {width: 40%}
      &-img {width: 60%}
    }
  }

  main.career {
    .wrapper-outer {
      width: 100%;
    }

    .divider {
      display: none;
    }

    .content-text {
      text-align: left;

      .wrapper-inner {
        display: flex;
        align-items: center;

        margin-bottom: px-to-em(72);
        margin-top: px-to-em(72);

        border-bottom: 4px solid $color-accent;
      }

      .btn-career {
        margin-left: auto;
      }
    }
  }
}

#homepage-desktop-1 .content-img {
  background:
    $gradient-20,
    url("../img/bg/bg-homepage.jpg");
  background-size: cover, cover;
  background-position: top center;
  background-repeat: no-repeat;
}

main.service {
  #concept-design .content-img {
    background: $gradient-20,
    url("../img/bg/services/bg-concept-design.png");
    background-size: cover, 100vw;
    background-position: center center,  center center;
    background-repeat: no-repeat;
  }

  @media (min-width: $breakpoint) {
    #concept-design .content-img {
      background-size: cover, cover;
      background-position: center center, center center;
    }
  }

  #structure-design .content-img {
    background: $gradient-20,
    url("../img/bg/services/bg-structural-design.png");
    background-size: cover, 100vw;
    background-position: center center, center center;
    background-repeat: no-repeat;
  }

  @media (min-width: $breakpoint) {
    #structure-design .content-img {
      background-size: cover, cover;
      background-position: center center, center center;
    }
  }

  #construction-design .content-img {
    background: $gradient-20,
    url("../img/bg/services/bg-construction-design.png");
    background-size: cover, 150vw;
    background-position: center center, center bottom ;
    background-repeat: no-repeat;
  }

  @media (min-width: $breakpoint) {
    #construction-design .content-img {
      background-size: cover, cover;
      background-position: center center, center center;
    }
  }

  #value-engineer .content-img {
    background: $gradient-20,
    url("../img/bg/services/bg-value-engineer.jpg");
    background-size: cover, cover;
    background-position: center center, center center;
    background-repeat: no-repeat;
  }

  #design-review .content-img {
    background: $gradient-20,
    url("../img/bg/services/bg-design-review.png");
    background-size: cover, 150vw;
    background-position: center center, center top;
    background-repeat: no-repeat;
  }

  @media (min-width: $breakpoint) {
    #design-review .content-img {
      background-size: cover, cover;
      background-position: center center, center center;
    }
  }
}

@media (min-width: $breakpoint) {

  main.service .text-desktop {
    display: block;
  }

  main.service .text-mobile {
    display: none;
  }

  main.service {
    #concept-design,
    #structure-design,
    #construction-design,
    #value-engineer,
    #design-review {
      .content-text {height: auto}
      .content-img {height: auto}
    }
  }
}
