.main-row {
  .wrapper-inner {
    width: 80%;
    margin: 0 auto;

    .main-content {
      h3 {
        font-size: px-to-em(24);
        text-align: center;
        margin-bottom: px-to-em(20);
        text-decoration: underline solid $color-primary;
      }
    }

    .img-content {
      display: none;
    }
  }
}

main hr {
  width: 50%;
  margin: px-to-em(50) auto;
  border: 4px solid $color-primary;
}

.main-row:last-of-type {
  margin-bottom: px-to-em(50);
}

.main-row:first-of-type {
  margin-top: px-to-em(50);
}

.trigger-link {
  display: inline-block;
  color: $color-text--light;
  background: $color-primary;
  text-decoration: none;
  font-family: $font-roboto-slab;
  padding: px-to-em(10) px-to-em(20);
  margin-top: px-to-em(10);
  border-radius: 50px;
}
