.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%;
    overflow: auto; /* Full height */
    background-color: $white; /* Fallback color */
    background-color: rgba($black,.8); /* Black w/ opacity */
}

.modal-content {
    background-color: $white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: px-to-em(20);
    border-bottom: 4px solid $color-accent;
    width: 90%; /* Could be more or less, depending on screen size */
}

.btn-close {
  font-weight: $font-weight--bold;
  font-size: px-to-em(40);
  color: $color-secondary;
  text-align: right;
  margin: 0;
}

@media (min-width: $breakpoint) {
  .modal-content {
    width: 50%;
    padding: px-to-em(40);
  }
}
