.nav-bar {
  transition: all .5s;
}

.is-sticky {
  z-index: 2;

  .nav-bar {
    border-bottom: 4px solid $color-primary;
  }
}

nav.overlay {

  background-color: $white;
  background-image: none;
  align-items: center;
  justify-content: center;
  z-index: 1;

  ul {

    top: 0;

    font-family: $font-roboto--slab;
    font-weight: $font-weight--bold;
    font-size: px-to-em(24);

    li {
      margin: px-to-em(20) 0;
    }

    a {
      @include link;
    }
  }
}

.btn-call {
  @include btn($color-text--light, $color-tertiary);
}
