.overlay {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;

  background: $white;

  a {
    @include link;
    display: block;
    font-family: $font-roboto--slab;
    font-size: px-to-em(30);
    color: $color-text--dark;
    margin: 20px 0;

    &.btn-call-now {
      @include btn($color-text--light, $color-primary);
    }
  }
}

@media(min-width: $breakpoint) {

  .nav {

    color: $color-text--light;

    a {
      @include link;
      font-weight: $font-weight--bold;
      display: inline-block;
      margin: 0 px-to-em(20);
      transition: all .3s;

      &:hover {
        border-bottom: 4px solid $white;
      }
    }

    a.current {
      border-bottom: 4px solid $white;
    }

    .btn-call-now {
      @include btn($color-text--light, transparent);
      border: 2px solid $white;

      &:hover {
        @include btn($color-text--dark, $white);
        border: 2px solid $white;
      }
    }
  }
}
