.slide {

  height: 100vh;

  text-align: center;
  color: $color-text--light;
  background: $color-secondary;

  .wrapper-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .btn-banner {
    @include link;
    @include btn($color-text--dark, $white);
    border: 2px solid $white;
    transition: all .3s;

    &:hover {
      @include btn($color-text--light, transparent);
      border: 2px solid $white;
    }
  }

  .divider {
    border: 2px solid $white;
    width: 50%;
    margin: px-to-em(20) 0;
  }

}

/* Slide Background */
.slide-homepage {
  background:
    $gradient-70,
    url("../img/bg/bg-banner-1.png");
  background-size: cover, 600px;
  background-position: bottom 20% right 20%;
  background-repeat: no-repeat;
}

@media (min-width: $breakpoint) {
  .slide-homepage {
    background-size: cover;
    background-position: bottom 20% right 20%;
  }
}

.slide-career {
  background:
    $gradient-70,
    url("../img/bg/bg-banner-3.png");
  background-size: cover, 800px;
  background-position: bottom 20% right 20%;
  background-repeat: no-repeat;
}

@media (min-width: $breakpoint) {
  .slide-career {
    background-size: cover;
    background-position: center center;
  }
}

.slide-service {
  background:
    $gradient-70,
    url("../img/bg/bg-banner-2.png");
  background-size: cover, 800px;
  background-position: bottom center;
  background-repeat: no-repeat;
}

@media (min-width: $breakpoint) {
  .slide-service {
    background-size: cover;
    background-position: center center;
  }
}

.slide-concept-design {
  background:
    $gradient-70,
    url("../img/bg/services/bg-concept-design.png");
  background-size: cover, 600px;
  background-position: bottom right 20%;
  background-repeat: no-repeat;
}

@media (min-width: $breakpoint) {
  .slide-concept-design {
    background-size: cover, cover;
    background-position: bottom right;
  }
}

.slide-structure-design {
  background:
    $gradient-70,
    url("../img/bg/services/bg-structural-design.png");
  background-size: cover, 600px;
  background-position: bottom 10% right 50%;
  background-repeat: no-repeat;
}

@media (min-width: $breakpoint) {
  .slide-structure-design {
    background-size: cover, 800px;
    background-position: center right 15%;
    background-repeat: no-repeat;
  }
}

.slide-construction-design {
  background:
    $gradient-70,
    url("../img/bg/services/bg-construction-design.png");
  background-size: cover, 800px;
  background-position: bottom -10% right 50%;
  background-repeat: no-repeat;
}

@media (min-width: $breakpoint) {
  .slide-construction-design {
    background-size: cover, 1000px;
    background-position: bottom right 10%;
    background-repeat: no-repeat;
  }
}

.slide-value-engineer {
  background:
    $gradient-70,
    url("../img/bg/services/bg-value-engineer.jpg");
  background-size: cover, cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (min-width: $breakpoint) {
  .slide-value-engineer  {
    background-size: cover, 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.slide-design-review {
  background:
  $gradient-70,
  url("../img/bg/services/bg-design-review.png");
  background-size: cover, 800px;
  background-position: top 20% center;
  background-repeat: no-repeat;
}

@media (min-width: $breakpoint) {
  .slide-design-review  {
    background-size: cover, 1000px;
    background-position: center right;
    background-repeat: no-repeat;
  }
}

@media(min-width: $breakpoint) {
  .slide .wrapper-inner {

    text-align: left;
    align-items: flex-start;

    h1 {
      width: px-to-em(500);
    }

    p {
      width: px-to-em(400);
    }

    .divider {
      width: 25%;
    }
  }
}
