.logo-footer h2 {
  font-size: rem(16px);
  text-transform: uppercase;
  font-weight: $font-weight-light;
}

.btn-open-nav {
  font-size: rem(35px);
}

.contact-address {
  text-align: center;
  
  span {
    text-decoration: underline;
  }
}

.main-body-main .brand {
  h3 {
    font-weight: $font-weight-regular;
    text-align: center;
  }
}
