/*
Google Font:
Roboto Sans
Roboto Slab
*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,700');

/* Color Variable */
$robin-egg-blue                : #00B9BD;
$pelorous                      : #3CC5C8;
$firefly                       : #123D3D;

$black                         : #000;
$white                         : #fff;

/* Color Usage */
$color-primary                 : $robin-egg-blue;
$color-secondary               : $firefly ;
$color-accent                  : $pelorous;

$color-text--dark              : $black;
$color-text--light             : $white;
$color-text--gray              : lighten($color-text--dark, 50%);

/* Background Gradient */
$gradient-70                   : linear-gradient(rgba($color-primary, .7), rgba($color-primary, .7));
$gradient-20                   : linear-gradient(rgba($color-primary, .20), rgba($color-primary, .20));

/* Font Usage */
$font-roboto--sans             : 'Roboto', sans-serif;
$font-roboto--slab             : 'Roboto Slab', serif;

/* Font Weight */
$font-weight--light            : 300;
$font-weight--regular          : 400;
$font-weight--bold             : 700;

/* Breakpoints */
$breakpoint                    : 769px;
$max-width                     : 1200px;
